/Arquitetura de Software/14-02-24/CarroAutonomo/target/
/Arquitetura de Software/14-02-24/TanqueRobo/target/
/Arquitetura de Software/21-02-24/ExemploThreadSeries/target/
/Arquitetura de Software/ADO/ex - aula/DeliveryEcommerce/target/
/Arquitetura de Software/ADO/ex1/Exercicio1/target/
/Arquitetura de Software/ADO/ex2/Exercicio2/target/
/Arquitetura de Software/ADO/ex3/Exercicio3/target/
/Arquitetura de Software/13-03-24/CestaCafeManha/target/
/Arquitetura de Software/ADO1/Exercicio1/target/
