<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/estilos.css"/>
    </head>
    <body>
        <main>
            <h1 th:text="${dados.nome}"></h1>
            <p th:text="${dados.dataNascimento}">Data de Nascimento: </p>
            <p th:text="${dados.email}">E-mail: arthur.berdusco@gmail.com</p>
            <p th:text="${dados.telefone}">Telefone: <span>(11) 93204-5718</span></p>
        </main>
    </body>
</html>
