<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desenvolvimento Web com Spring Boot e Thymeleaf</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header>
        <h1 class="header-title">Desenvolvimento Web com Spring Boot e Thymeleaf</h1>
        <h3>
            <a href="/">Voltar</a>
        </h3>
       
    </header>

    <main>
        <section>
            <h2>Benefícios</h2>
            <ol class="list-group">
                <li class="list-group-item">Simplifica e acelera o desenvolvimento de aplicações.</li>
                <li class="list-group-item">Convenção e padronização de configurações.</li>
                <li class="list-group-item">Templating com Thymeleaf, renderização através do servidor</li>
                <li class="list-group-item">Integração com outros projetos</li>
            </ol>
        </section>

        <section>
            <h2>Desvantagens</h2>
            <ol>
                <li class="list-group-item">Curva de Aprendizado.</li>
                <li class="list-group-item">Configurações avançadas podem se tornar complexas.</li>
                <li class="list-group-item">Aplicações maiores podem exigir mais recursos.</li>
                <li class="list-group-item">Pode não ser tão rico em recursos frontend</li>
            </ol>
        </section>
    </main>

</body>

</html>
