<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <header></header>
    <main>
        <aside>
            <img src="https://thumbs.dreamstime.com/b/um-le%C3%A3o-pr%C3%B3ximo-com-fundo-emba%C3%A7ado-276984391.jpg" alt="">
            <p>ola mundo</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, quasi pariatur et deleniti ullam
                repellat consequuntur incidunt, unde alias provident voluptas minus quibusdam praesentium sit facilis
                suscipit, voluptate officiis fugiat?
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta in repudiandae culpa. Non maiores
                incidunt labore magnam sunt doloremque temporibus dicta earum, in eius quaerat nulla a blanditiis
                perferendis. Eaque.</p>
        </aside>
        <section>
            <article><p>1</p></article>
            <article><p>2</p></article>
            <article><p>3</p></article>
        </section>
    </main>
    <footer></footer>

</body>

</html>